body {
	background-color: hsl(240, 15%, 5%);
}

.App {
  text-align: center;
}


.navContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin: 0.1rem 0 0;
}

.timeBtn {
	margin: 0 10px;
	/* width: 85px;
	height: 28px; */
	display: inline;
	font-size: 13px;
	padding: 2px 14px;
	border-radius: 4px;
	border: 1px solid hsl(240, 10%, 25%);
	background-color: hsl(240, 10%, 20%);
	color: #aaa;
}

.timeBtn:hover {
	border: 1px solid hsl(240, 10%, 35%);
	background-color: hsl(240, 10%, 30%);
	color: #ddd;
}

.timeBtn:active {
	border: 1px solid hsl(240, 10%, 45%);
	background-color: hsl(240, 30%, 35%);
	color: #fff;
}

.time {
	font-family: Lato, Roboto, Helvetica, sans-serif;
	margin: 0.1rem 0 0.2rem;
}

.dy {
	font-size: calc(12.5vw + 4vh);
	color: #ff9900;
}

.hr {
	font-size: calc(14vw + 4vh);
	color: #ff2511;
}

.ms {
	font-size: 8vw;
	color: #44aa11;
}

.time span {
	font-size: 7vw;
	padding: 0;
}

.time.ms span {
	font-size: 5vw;
}
