:root {
	--percent: 40%;
	--p-percent: 50%;
	--pp-percent: 65%;
	--opacity-1: 1;
	--opacity-9: 0.9;
	--opacity-9: 0.8;
	--red: hsla(0, 100%, var(--p-percent), var(--opacity-9));
	--orange: hsla(30, 100%, var(--p-percent), var(--opacity-9));
	--yellow: hsla(60, 100%, var(--p-percent), var(--opacity-9));
	--green: hsla(120, 100%, var(--p-percent), var(--opacity-9));
	--cyan: hsla(180, 100%, var(--p-percent), var(--opacity-9));
	--blue: hsla(220, 100%, var(--pp-percent), var(--opacity-1));
	--purple: hsla(280, 100%, var(--pp-percent), var(--opacity-1));
	--magenta: hsla(310, 100%, var(--p-percent), var(--opacity-9));
	--red340: hsla(340, 100%, var(--p-percent), var(--opacity-9));

	--g1: hsla(200, 100%, 45%, var(--opacity-1));
	--g2: hsla(220, 100%, 50%, var(--opacity-1));
	--g3: hsla(240, 100%, 72%, var(--opacity-1));
	--g4: hsla(260, 100%, 68%, var(--opacity-1));
	--g5: hsla(280, 100%, 50%, var(--opacity-1));
}


body {
	background-color: hsl(240, 15%, 5%);
}

.App {
  text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;

}

.clock {
	/* font-family: Courier, monospace; */
	display: flex;
	font-family: Lato, Roboto, Helvetica, sans-serif;
	margin-top: 0rem;
	background: -webkit-linear-gradient(left, var(--red340), var(--red), var(--orange), var(--yellow), var(--green), var(--cyan), var(--purple), var(--magenta), var(--red340));
	background-size: 400% 200%;
	animation: gradient-animation 30s ease infinite;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.clock {
	font-size: clamp(4vw, calc(14vw + 6vh), 15rem);
}

.clock.ns {
	font-size: clamp(6vw, calc(20vw + 8vh), 16rem);
}

.time {
	font-size: clamp(4vw, calc(8vw + 2vh), 6rem);
}

.time.ns {
	font-size: clamp(5vw, calc(9.5vw + 2vh), 6rem);
}

.clock span.clockPeriod {
	font-size: calc(6vw + 1vh);
	padding-left: 0.8rem;
}

.time span {
	font-size: calc(5vw + 1vh);
	padding: 0;
}

.time {
	font-family: Lato, Roboto, Helvetica, sans-serif;
	margin-top: 1.2em;
	display: flex;
	opacity: 1;
}

.clock span {
	padding: 0 0.4rem;
}

.time {
	background: -webkit-linear-gradient(left, var(--g1) 20%, var(--g2) 35%, var(--g3) 50%, var(--g4) 65%, var(--g5) 80%);
	background-size: 300% 200%;
	animation: gradient-animation 20s ease infinite;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navContainer {
	margin-top: calc(2em + 4vw);
}

.navContainer form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navContainer input {
	display: inline;
  flex-direction: column;
	margin: 0 0 0 0.5rem;
	opacity: 0.7;
}


.navContainer label {
	color: #a8a9ad;
	display: inline;
	margin: 0 0.5rem 0 4px;
	font-size: clamp(0.6rem, 2.3vw, 2rem);
}


	/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.timeBtn {
	margin: 0 10px;
	/* width: 85px;
	height: 28px; */
	display: inline;
	font-size: 8px;
	padding: 1px 13px;
	border-radius: 2px;
	border: 1px solid hsl(260, 10%, 20%);
	background-color: hsl(260, 10%, 15%);
	color: #aaa;
}

.timeBtn:hover {
	border: 1px solid hsl(260, 20%, 35%);
	background-color: hsl(260, 15%, 30%);
	color: #ddd;
}

.timeBtn:active {
	border: 1px solid hsl(260, 40%, 45%);
	background-color: hsl(260, 40%, 35%);
	color: #fff;
}
