body {
  margin: 0;
	padding-bottom: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	--scrollbar-foreground: #2d2d33;
  --scrollbar-background: #202022;
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
	
}


::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--scrollbar-foreground);
}

::-webkit-scrollbar-thumb:hover { /* Foreground */
  background: #3b3b41;
}

::-webkit-scrollbar-thumb:active { /* Foreground */
  background: #4b4b52;
}

::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-track:hover { /* Background */
  background: #28282d;
}

::-webkit-scrollbar-track:active { /* Background */
  background: #303034;
}